body {
    font-family: "Arial", "Helvetica", sans-serif;
    color: red;
}

a:Link {
    color: dodgerblue;
    text-decoration: underline;
}

a:visited {
    color: dodgerblue;
    text-decoration: underline;
}

button {
    background-color: gray;
    color: dodgerblue;
    padding: 15px 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

body{
    background: url(../image/asdd.jpg);
    background-size: 100%, 100%;
}


#everything {
    margin: auto;
    width: 100%;
    alignment: left;

}

#banner {
    height: 40px;
    margin: -10px -10px -10px -10px;
    font-size: 160px;
    color: gray;
    text-align: left;
}

#menuBar {
    margin-top: 10px;
    width: 100%;
    background: lightgray;
    font-size: 17px;
    alignment: left;
}

#menuBar .menuButton {
    width: 160px;
    height: 20px;
    background: dimgray;
    border: none;
    padding: 10px auto;
    text-align: center;
    color: dimgray;
    margin: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.5s;
    font-size: 15px;
}

#menuBar .menuButton:HOVER {
    background-color: black;
}

#content_outer {
    margin-top: 30px;
    margin-left: -10px;
    margin-right: 1000px;
}




#content {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

#header {
    text-align: left;
    font-size: 45px;
    color: dodgerblue;
}

#Description {
    margin-top: 850px;
    margin-left: 300px;
}

#allTable {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 100%;
    alignment: center;
    border: none;
}

#allTableth {
    border: none;
    font-size: 20px;
    height: 25px;
}

#allTabletd {
    border: none;
}

input[type=text], input[type=date], input[type=number], select {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: dimgray;
    color: dodgerblue;
    padding: 12px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 15px;
}

input[type=submit]:HOVER {
    background-color: black;
}

.container {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.list_container {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.carlist_container {
    margin: auto;
    padding-bottom: 10px;
}